@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-image: url('../img/bg-pattern.png');
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: 90% -25%;
    scroll-snap-type: y mandatory;
	position: relative;
}

@media (max-width: 576px){
    body {
        background-position: 50px -50px;
        background-size: 500px;
    }
}

/* Hamburger Icon */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-mid,
.hamburger-bot {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: black;
    transform: rotate(0deg);
    transition: all 0.5s;
}

.hamburger-mid {
    transform: translateY(7px);
}

.hamburger-bot {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-mid {
    display: none;
}

.open .hamburger-bot {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.scroller {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-padding: 0px;
}

.scroller section {
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    height: 100vh;
    margin: auto;
}

footer {
	scroll-snap-stop: always;
	scroll-snap-align: end;
	position: relative;
	height: 30vh;
	width: 100%;
}

nav {
	scroll-snap-stop: always;
	scroll-snap-align: start;
	position: relative;
	height: 20vh;
	width: 100%;
}

#cfa-btn {
    background: rgba(77,77,77,1);
    color: white;
    border: 1.5px solid rgba(77,77,77,1);
    border-radius: 20px;
    transition: 0.3s;
}
#cfa-btn:hover {
    background: rgba(130,187,227,0.7);
    color: black;
    border: 1.5px solid black;
    border-radius: 20px;
}

#nav-btn {
    transition: 0.3s;
}